article
buildwin
cmake_install.cmake
CMakeFiles
CMakeCache.txt
downloads
guiwindows/CMakeFiles
guiwindows/redatamgui.dir
guiwindows/Release
guiwindows/x64
guiwindows/*.cmake
guiwindows/*.sln
guiwindows/*.vcxproj*
lib
obj
redatam
redatamgui
redatamguiwindows/build
redatamguiwindows/moc_mainwindow.cpp
redatamguiwindows/moc_mainwindow.cpp_parameters
redatamguiwindows/redatamgui.sln
redatamguiwindows/Release/
redatamwindows/CMakeFiles
redatamwindows/install_manifest.txt
redatamwindows/redatam.dir
redatamwindows/redatamgui.dir
redatamwindows/Release
redatamwindows/x64
redatamwindows/*.cmake
redatamwindows/*.sln
redatamwindows/*.vcxproj*
redatam.dir
redatamgui.dir
RedatamConverter.sln
xerces
xerceswin
xerces-c-3.2.5
vs_Community.exe
x64
*.gz
*.sha256
*.vcxproj*
.vscode/settings.json
.vscode/launch.json
.vscode/c_cpp_properties.json
redatam_0.0.1_amd64.deb
redatamguiwindows/__/gui/moc_mainwindow.cpp
redatamguiwindows/__/gui/moc_mainwindow.cpp_parameters
redatamguiwindows/gui/moc_mainwindow.cpp_parameters
